.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.login-page {width: 450px;
padding: 8% 0 0;
margin: auto;
}
.h1 {
  font-family: Arial, sans-serif;
  font-size: 34px;
  color: #131111;
  font-style: normal;
  padding: 10%;

}
body {
  background-color: #5e6290;
}
.App { 
  text-align: center; 
  background-color: #5e6290;
} 

.label { 
  display: block; 
  font-size: larger; 
  color: rgb(19, 19, 19); 
  padding: 5px; 
} 

.input { 
  font-size: larger; 
  padding: 5px; 
  margin: 2px; 

} 
.btn { 
  color: white; 
  background-color: rgb(29, 58, 63); 
  border-radius: 5px; 
  font-size: larger; 
  display: block; 
  padding: 10px; 
  margin: 16px auto;
  width:100px; 
} 
.clickHere{

  color: red; 
  height: 50px; 
  padding: 10px;
}
.messages { 
  display: flex; 
  justify-content: center; 
} 

.error { 
  display: block; 
  background-color: red; 
  color: white; 
  width: fit-content; 
  height: 50px; 
  padding: 5px; 
} 

.success { 
  display: block; 
  background-color: lightblue; 
  color: black; 
  width: fit-content; 
  height: 200px; 
  padding: 5px; 
}